$primaryColor : #0D6B6A;
$blackColor : #000;
$darkGrayColor : #666666;
$grayColor : #AAAAAA;
$whiteColor : rgb(255, 255, 255);
$lightGrayColor : #DDDDDD;
$whiteOpacityColor : rgba(255, 255, 255, 0.2);
